@import '~antd-mobile/dist/antd-mobile.less';
@import '~antd/dist/antd.less';

@brand-primary: #19ce60;
@am-body-background: #fff;

@primary-color: #19ce60;
@layout-header-padding: 0 24px;
@layout-header-height: 3rem;
